# Redirect all other variants of: *EXAMPLE-COM to: https://EXAMPLE-COM
server {
	listen 80 http2;
	listen [::]:80 http2;
	server_name {{ dns_name }};
	return 301 https://{{ dns_name }}$request_uri;
}

upstream doh-backend {
	server 127.0.0.1:5301;
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	# Make site accessible from http://localhost/
	server_name {{ dns_name }};
	root /var/www/html/dns;
	#access_log /var/log/nginx/dns.access.log

	ssl_certificate          /etc/pki/tls/certs/{{ cert_file }}.crt;
	ssl_certificate_key      /etc/pki/tls/private/{{ cert_file }}.key;

	location / {
		deny all;
	}

	location /dns-query {
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_redirect off;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_read_timeout 86400;
		proxy_pass http://doh-backend/dns-query;
	}
}
