upstream dns-backend {
	server 127.0.0.1:5300;
}

server {
	listen 853 ssl;
	listen [::]:853 ssl;

	ssl_certificate          /etc/pki/tls/certs/{{ dns_encrypted_name }}.crt;
	ssl_certificate_key      /etc/pki/tls/private/{{ dns_encrypted_name }}.key;

	#proxy_pass dns-backend;
}
